/* table {
    border-collapse: collapse;
    width: 50%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

td,
th {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: pink;
} */

table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 25%;
    margin: auto;
}

td,
th {
    border: 2px solid pink;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: bisque;
}