/* These are the list-style-types: */
/* ul {
    list-style-type: disc;
}

ul {
    list-style-type: circle;
}

ul {
    list-style-type: square;
}

ul {
    list-style-type: none;
} */

/* In creating a hoverable header, */

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}